/* =====Css Common code========*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    outline: 0px;
    font-family: "Roboto", sans-serif;
}
h1,h2,p,span{
    margin: 0px;
    padding: 0px;
}
ul,ol{
    list-style-type:none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/* ====Css common code end==========*/
/*==========Header part start====== */
#header-container{
    width: 100%;
    z-index: 1111;
    padding: 10px 0px;
    background-color:#011F7F;
    position: fixed;
    border-bottom: 1px solid #062B91;
}
.header-top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right: 30px;
    border-bottom: 1px solid #062B91;
}
.logo a img{
    width:250px;
}
.search-box {
    width:450px;
    height:45px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}
.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 14px;
    font-size: 14px;
}
.category {
    height: 100%;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-left: 1px solid #ddd;
    font-size: 14px;
    background: #ffffff;
}
.category i {
    font-size: 18px;
}
.search-btn {
    width: 60px;
    height: 100%;
    border: none;
    background: #ffc800;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn i {
    font-size: 24px;
    color: #001a66;
}
.right-contnet{
    display: flex;
    align-items: center;
}
.right-contnet .r-item{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.right-contnet .r-item .r-icon{
   color:#fff;
   font-size: 30px;
   padding-right: 10px;
   font-weight: 400;
}
.right-contnet .r-item .r-content p ,a{
    color: #fff;
    font-weight: 400;
   
}
/*==========Header part end===========*/
/*==========Menu Item part start===========*/
 .navbar {
    height: 50px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-left: 30px;
    padding-right:30px;
    color: #ffffff;
}
.categories {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 220px;
    font-size:20px;
    font-weight: 600;
}
.categories i {
    font-size: 22px;
}
.nav-links{
    margin: 0px auto;
}
.nav-links ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}
.nav-links li {
    height: 100%;
}
.nav-links a {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a.active {
    color: #FFC800;
}
.nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFC800;
}
.nav-links a:hover {
    color: #FFC800;
}
.nav-links a:hover::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFC800;
}
.support {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 18px;
    white-space: nowrap;
    }
.support i {
    font-size: 19px;
}
/*==========Menu Item part End===========*/
/*==========Hero seaction part start=====*/
#hero-section {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
}
.banner-slider{
    width: 100%;
    height: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.banner-content{
    padding-top: 200px;
    padding-bottom:100px;
    padding-left: 80px;
}
.banner-content h3{
    color: #FFC800;
}
.banner-content h1{
    color: #fff;
    font-size: 64px;
    font-weight:900;
}
.banner-content h1 span{
    color: #ffc800;
}
.banner-content p{
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}
 .banner-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #ffc800;
    text-decoration: none;
    transition: 0.3s ease;
    z-index: 1;
}
.banner-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.4s ease;
    z-index: -1;
}
.banner-btn:hover::before {
    left: 0;
}
.banner-btn:hover {
    color: #000;
}
.banner-btn i {
    margin-left: 6px;
    transition: 0.3s ease;
}
.banner-btn:hover i {
    transform: translateX(5px);
}
.banner-features{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.feature-item{
    display: flex;
    margin-right: 20px;
}
.f-item-contnet strong{
    color: #fff;
    font-size: 16px;
}
.f-item-contnet p{
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 400;
}
.f-icon{
    color: #fff;
    padding-top: 1px;
    padding-right: 10px;
    font-size: 30px;
    font-weight: 400;
}
/*==========Hero seaction part End=======*/
#banner-offer{
    padding: 40px 30px;
}
.offer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.offer-items {
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}
.offer-content{
    padding-top: 40px;
}
.offer-content h3 {
    color: #071d63;
    font-size:22px;
    margin-bottom: 7px;
}

.offer-content h4 {
    color: #062b91;
    font-size: 22px;
    margin-bottom:10px;
}

.offer-content a {
    color: #062b91;
    font-size: 16px;
    font-weight: 600;
}
.offer-content a:hover {
    color:#000;
}
.offer-content a span {
    margin-left: 5px;
    font-size: 16px;
}

